accelerate==0.33.0
addict==2.4.0
aiobotocore==2.13.1
aiofiles==23.2.1
aiohttp==3.9.3
aiohttp-cors==0.7.0
aioitertools==0.11.0
aiosignal==1.3.1
albucore==0.0.13
albumentations==1.0.0
alembic==1.13.1
altair==5.3.0
aniso8601==9.0.1
annotated-types==0.6.0
antlr4-python3-runtime==4.8
anyio==4.4.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
arxiv==2.1.3
asgiref==3.8.1
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
async-lru==2.0.4
async-timeout==4.0.3
asyncer==0.0.2
attrs==23.2.0
audioread==3.0.1
auto_gptq==0.7.1
Automat==22.10.0
Babel==2.14.0
backcall==0.2.0
backoff==2.2.1
backports.strenum==1.3.1
bcrypt==4.1.2
beautifulsoup4==4.12.3
bidict==0.23.1
bitarray==2.9.2
bitsandbytes==0.41.2
bitsandbytes-cuda116==0.26.0.post2
black==24.3.0
bleach==6.1.0
blinker==1.7.0
blis==0.7.11
blobfile==2.1.1
boto3==1.34.144
botocore==1.34.131
Brotli @ file:///croot/brotli-split_1714483155106/work
build==1.1.1
CacheControl==0.14.0
cachetools==5.5.0
catalogue==0.0.7
certifi==2024.2.2
cffi==1.16.0
cfgv==3.4.0
chainlit==1.1.402
chardet==3.0.4
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
chevron==0.14.0
chroma-hnswlib==0.7.6
chromadb==0.5.5
cleo==2.1.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpathlib==0.16.0
cloudpickle==3.0.0
cmake==3.29.2
cohere==5.5.8
colorama==0.4.6
coloredlogs==15.0.1
colorful==0.5.6
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1704278392174/work
confection==0.1.4
confluent-kafka==2.3.0
constantly==23.10.4
contourpy==1.2.0
crashtest==0.4.1
cryptography==42.0.5
cssselect==1.2.0
cubinlinker-cu11==0.3.0.post1
cuda-python==12.6.0
cupy-cuda12x==13.2.0
cycler==0.12.1
cymem==2.0.8
Cython==3.0.9
dataclasses-json==0.5.14
dataclasses-json-speakeasy==0.5.11
datasets==2.18.0
debugpy @ file:///croot/debugpy_1690905042057/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml==0.7.1
dep-logic==0.2.0
Deprecated==1.2.14
dill==0.3.8
dirtyjson==1.0.8
diskcache==5.6.3
distlib==0.3.8
distro==1.9.0
dnspython==2.6.1
docker==7.0.0
docopt==0.6.2
duckduckgo_search==5.3.1b1
dulwich==0.21.7
effdet==0.4.1
einops==0.8.0
email_validator==2.2.0
emoji==2.11.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.3.1/en_core_web_lg-2.3.1.tar.gz#sha256=978be907fecfb9c1ab60a80a70fbc51a4ad62db91ebd672c3165f89640f05b4e
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#sha256=06c80936324012d1223291d2af41a5229e746dc2dee8fe31a532666ee3d18aaa
entrypoints==0.4
environs==9.5.0
et-xmlfile==1.1.0
eval_type_backport==0.2.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
fairseq==0.12.2
faiss-gpu==1.7.2
fastapi==0.110.3
fastapi-cli==0.0.4
fastavro==1.9.5
fastBPE==0.1.0
fastjsonschema==2.19.1
fastrlock==0.8.2
feedparser==6.0.11
ffmpeg-python==0.2.0
ffmpy==0.4.0
filelock @ file:///croot/filelock_1700591183607/work
filetype==1.2.0
findpython==0.6.1
fiona==1.9.6
fire==0.6.0
flash-attn==2.5.8
Flask==3.0.2
flatbuffers==24.3.25
fonttools==4.49.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2023.12.2
func-timeout==4.3.5
funcy==2.0
future==1.0.0
fuzzywuzzy==0.18.0
gcsfs==2023.12.2.post1
gdown==5.1.0
gekko==1.1.1
gensim==4.3.2
gguf==0.9.1
gitdb==4.0.11
GitPython==3.1.42
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645455533097/work
google-api-core==2.19.0
google-auth==2.29.0
google-auth-oauthlib==1.2.1
google-cloud-core==2.4.1
google-cloud-storage==2.17.0
google-cloud-vision==3.7.2
google-crc32c==1.5.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.0
googletrans==3.1.0a0
gradio==4.40.0
gradio_client==1.2.0
graphene==3.3
graphql-core==3.2.3
graphql-relay==3.2.0
greenlet==3.0.3
griffe==0.48.0
grpcio==1.63.0
grpcio-status==1.62.2
gunicorn==21.2.0
h11==0.14.0
h2==3.2.0
hishel==0.0.26
hpack==3.0.0
hstspreload==2024.3.1
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.23.4
humanfriendly==10.0
hydra-core==1.0.7
hyperframe==5.2.0
hyperlink==21.0.0
icu==0.0.1
identify==2.5.35
idna @ file:///croot/idna_1714398848350/work
imageio==2.35.1
importlib-metadata==6.11.0
importlib_resources==6.4.0
incremental==24.7.2
iniconfig==2.0.0
installer==0.7.0
InstructorEmbedding==1.0.1
interegular==0.3.3
iopath==0.1.10
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1708996548741/work
ipython==8.12.3
ipywidgets==8.1.2
isoduration==20.11.0
isort==5.13.2
itemadapter==0.9.0
itemloaders==1.3.1
itsdangerous==2.1.2
janus==1.0.0
jaraco.classes==3.3.1
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
jeepney==0.8.0
Jinja2==3.1.3
jiter==0.5.0
jmespath==1.0.1
joblib==1.3.2
jq==1.7.0
json5==0.9.22
jsonargparse==4.27.7
jsonlines==4.0.0
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpickle==3.2.2
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.4
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1699283905679/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1704727030956/work
jupyter_server==2.13.0
jupyter_server_terminals==0.5.2
jupyterlab==4.0.13
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.3
jupyterlab_widgets==3.0.10
kaggle==1.6.14
keyring==24.3.1
kiwisolver==1.4.5
kubernetes==29.0.0
lagent @ git+https://github.com/InternLM/lagent.git@34284d75cac184757cd1bdc492fd000f96db3195
langchain==0.2.11
langchain-chroma==0.1.1
langchain-community==0.2.10
langchain-core==0.2.23
langchain-experimental==0.0.42
langchain-huggingface==0.0.3
langchain-milvus==0.1.4
langchain-nvidia-ai-endpoints==0.2.0
langchain-openai==0.1.17
langchain-text-splitters==0.2.2
langchainhub==0.1.20
langcodes==3.3.0
langdetect==1.0.9
langfuse==2.48.0
langgraph==0.1.11
langsmith==0.1.84
lark==1.2.2
layoutparser==0.3.4
Lazify==0.4.0
lazy_loader==0.4
Levenshtein==0.25.1
librosa==0.10.2.post1
lightning==2.3.0
lightning-utilities==0.11.6
linkify-it-py==2.0.3
lit==18.1.3
literalai==0.0.607
llama-cloud==0.0.15
llama-index==0.11.1
llama-index-agent-openai==0.3.0
llama-index-cli==0.3.0
llama-index-core==0.11.1
llama-index-embeddings-huggingface==0.3.1
llama-index-embeddings-ollama==0.2.0
llama-index-embeddings-openai==0.2.3
llama-index-indices-managed-llama-cloud==0.3.0
llama-index-legacy==0.9.48.post3
llama-index-llms-openai==0.2.0
llama-index-multi-modal-llms-openai==0.2.0
llama-index-program-openai==0.2.0
llama-index-question-gen-openai==0.2.0
llama-index-readers-file==0.2.0
llama-index-readers-llama-parse==0.2.0
llama-index-vector-stores-chroma==0.2.0
llama-index-vector-stores-milvus==0.1.23
llama-parse==0.4.9
llama_cpp_python==0.2.79
llamaindex-py-client==0.1.19
llvmlite==0.42.0
lm-format-enforcer==0.10.6
loguru==0.7.2
lxml==5.1.0
Mako==1.3.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
marshmallow==3.21.1
matplotlib==3.8.3
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdit-py-plugins==0.4.1
mdurl==0.1.2
memray==1.13.4
milvus-lite==2.4.9
minijinja==2.0.1
minio==7.2.8
mistune==3.0.2
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
mlflow==2.11.2
mmengine-lite==0.10.4
mmh3==4.1.0
mongomock==4.1.2
monotonic==1.6
more-itertools==10.2.0
mpmath @ file:///croot/mpmath_1690848262763/work
msgpack==1.0.8
msgspec==0.18.6
multidict==6.0.5
multiprocess==0.70.16
munch==4.0.0
murmurhash==1.0.10
mypy==1.9.0
mypy-extensions==1.0.0
nbclient==0.9.0
nbconvert==7.16.2
nbformat==5.9.2
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx==3.2.1
ninja==1.11.1.1
nltk==3.9.1
nodeenv==1.8.0
notebook==7.0.8
notebook_shim==0.2.4
nougat-ocr==0.1.17
numba==0.59.0
numexpr==2.10.0
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp310-cp310-linux_x86_64.whl#sha256=d8cd837ed43e87f77e6efaa08e8de927ca030a1c9c5d04624432d6fb9a74a5ee
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
nvitop==1.3.2
nvtx==0.2.10
oauthlib==3.2.2
olefile==0.47
ollama==0.3.1
omegaconf==2.0.6
onnx==1.16.0
onnxruntime==1.18.0
onnxruntime-genai==0.3.0
openai==1.42.0
openapi-schema-pydantic==1.2.4
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python==4.9.0.80
opencv-python-headless==4.10.0.84
openpyxl==3.1.3
opentelemetry-api==1.26.0
opentelemetry-exporter-otlp==1.26.0
opentelemetry-exporter-otlp-proto-common==1.26.0
opentelemetry-exporter-otlp-proto-grpc==1.26.0
opentelemetry-exporter-otlp-proto-http==1.26.0
opentelemetry-instrumentation==0.47b0
opentelemetry-instrumentation-asgi==0.47b0
opentelemetry-instrumentation-fastapi==0.47b0
opentelemetry-proto==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
opentelemetry-util-http==0.47b0
optimum==1.20.0
orjson==3.10.0
outlines==0.0.46
overrides==7.7.0
packaging==23.2
pandarallel==1.6.5
pandas==2.2.2
pandocfilters==1.5.1
parameterized==0.9.0
parsel==1.9.1
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pathspec==0.12.1
pbs-installer==2024.4.1
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.0
pdm==2.15.1
peft==0.7.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1706113125309/work
phx-class-registry==4.1.0
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pikepdf==8.15.0
pillow==10.2.0
pillow_heif==0.16.0
pinecone-client==4.1.2
pinecone-notebooks==0.1.1
pinecone-plugin-interface==0.0.7
pipreqs==0.5.0
pkginfo==1.10.0
plac==1.1.3
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1706713388748/work
plotly==5.20.0
pluggy==1.5.0
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.7.1
polars==0.20.15
polyglot==16.7.4
pooch==1.8.2
portalocker==2.8.2
posthog==3.5.0
pre-commit==3.6.2
preshed==3.0.9
prometheus-fastapi-instrumentator==7.0.0
prometheus_client==0.20.0
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1702399386289/work
Protego==0.3.1
proto-plus==1.23.0
protobuf==4.25.3
psutil==6.0.0
psycopg2-binary==2.9.9
ptxcompiler-cu11==0.8.1.post1
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pulsar-client==3.4.0
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py-cpuinfo==9.0.0
py-spy==0.3.14
py-vncorenlp==0.1.4
py4j==0.10.9.7
pyairports==2.1.1
pyarrow==15.0.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycld2==0.41
pycocotools==2.0.7
pycountry==24.6.1
pycparser==2.21
pycryptodome==3.20.0
pycryptodomex==3.20.0
pydantic==2.8.2
pydantic-settings==2.4.0
pydantic_core==2.20.1
pydeck==0.9.1
PyDispatcher==2.0.7
pydub==0.25.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
pyjnius==1.6.1
PyJWT==2.9.0
pyLDAvis==3.4.1
pymilvus==2.4.5
pymongo==4.6.3
PyMuPDF==1.24.9
pymupdf4llm==0.0.14
PyMuPDFb==1.24.9
pynvjitlink-cu12==0.3.0
pynvml==11.5.3
pyOpenSSL==24.2.1
pypandoc==1.13
pyparsing==3.1.2
pypdf==4.2.0
pypdfium2==4.29.0
PyPika==0.48.9
pyproj==3.6.1
pyproject_hooks==1.0.0
pyre-extensions==0.0.29
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
pyspark==3.5.1
pytesseract==0.3.10
pytest==8.3.2
pytest-asyncio==0.23.8
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-docx==1.1.2
python-dotenv==1.0.1
python-engineio==4.9.1
python-iso639==2024.2.7
python-json-logger==2.0.7
python-Levenshtein==0.25.1
python-magic==0.4.27
python-multipart==0.0.9
python-oxmsg==0.0.1
python-pptx==0.6.23
python-slugify==8.0.4
python-socketio==5.11.3
pytorch-lightning==2.3.0
pytube==12.1.3
pytubefix==5.7.0
pytz==2024.1
pyvis==0.3.2
PyYAML @ file:///croot/pyyaml_1698096049011/work
pyzmq @ file:///croot/pyzmq_1705605076900/work
qtconsole==5.5.1
QtPy==2.4.1
querystring-parser==1.2.4
queuelib==1.7.0
quixstreams==2.1.2a0
rank-bm25==0.2.2
rapidfuzz==3.9.6
ray==2.34.0
referencing==0.33.0
regex==2023.12.25
requests @ file:///croot/requests_1721410876868/work
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
resolvelib==1.0.1
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.7.1
rmm-cu11==24.8.2
rmm-cu12==24.8.2
rocksdict==0.3.23
rouge==1.0.1
rpds-py==0.18.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
ruff==0.3.3
s3fs==2023.12.2
s3transfer==0.10.2
sacrebleu==2.4.1
safetensors==0.4.2
scikit-image==0.24.0
scikit-learn==1.4.1.post1
scipy==1.12.0
sconf==0.2.5
Scrapy==2.11.2
seaborn==0.13.2
SecretStorage==3.3.3
semantic-version==2.10.0
Send2Trash==1.8.2
sentence-transformers==3.0.1
sentencepiece==0.2.0
sentinels==1.0.0
service-identity==24.1.0
sgmllib3k==1.0.0
shapely==2.0.4
shellingham==1.5.4
shortuuid==1.0.13
simple-websocket==1.0.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.1
socksio==1.0.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.4.0
spacy==2.3.9
spacy-cld==0.1.0
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.28
sqlparse==0.4.4
srsly==2.4.6
sse-starlette==2.1.3
sseclient-py==1.8.0
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
starlette==0.37.2
streamlit==1.35.0
striprtf==0.0.26
sympy @ file:///croot/sympy_1701397643339/work
syncer==2.0.3
tabulate==0.9.0
tenacity==8.2.3
termcolor==2.4.0
terminado==0.18.0
tesseract==0.1.3
text-generation==0.7.0
text-unidecode==1.3
textual==0.76.0
thinc==7.4.6
threadpoolctl==3.4.0
tifffile==2024.8.24
tika==2.6.0
tiktoken==0.7.0
timeout-decorator==0.5.0
timm==0.5.4
tinycss2==1.2.1
tldextract==5.1.2
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.1
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1708363098266/work
tqdm==4.66.2
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1704212992681/work
transformers==4.44.0
triton==2.0.0
trove-classifiers==2024.3.3
truststore==0.8.0
Twisted==24.3.0
typer==0.12.3
types-python-dateutil==2.8.19.20240311
types-requests==2.32.0.20240712
typing-inspect==0.9.0
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
tzdata==2024.1
uc-micro-py==1.0.3
ujson==5.10.0
unearth==0.15.2
unstructured==0.15.0
unstructured-client==0.18.0
unstructured-inference==0.7.36
unstructured.pytesseract==0.3.12
uptrace==1.26.0
uri-template==1.3.0
urllib3==2.2.1
uvicorn==0.25.0
uvloop==0.19.0
virtualenv==20.25.1
w3lib==2.2.1
wasabi==0.10.1
watchdog==4.0.1
watchfiles==0.20.0
watermark==2.3.1
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
weasel==0.3.4
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
Werkzeug==3.0.1
widgetsnbextension==4.0.10
wordcloud==1.9.3
wrapt==1.16.0
wsproto==1.2.0
xformers==0.0.20
xlrd==2.0.1
XlsxWriter==3.2.0
xxhash==3.4.1
yapf==0.40.2
yarg==0.1.9
yarl==1.9.4
youtube-transcript-api==0.5.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
zope.interface==7.0.1
zstandard==0.22.0
